{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	{% if message %}
							<script> alert("{{ message }}") </script>
							{% endif %}
	<meta charset="utf-8">
	<title>contact</title>
	<link rel="shortcut icon" href="assets/img/icon.png">

	<meta name="description" content="FundMe - is a Premium HTML Responsive Templeate by HTMLmate Team. You can use this for anykind of Nonprofit website">

	<meta name="keywords" content="Premium HTML Template">

	<meta name="author" content="HTMLmate">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css-include -->

	<!-- boorstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
	<!-- themify-icon.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/themify-icons.css' %}">
	<!-- owl-carousel -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl.carousel.css' %}">
	<!-- Video-min -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/video.min.css' %}">
	<!-- animate.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}">
	<!-- REVOLUTION STYLE SHEETS -->
	<link rel="stylesheet" type="text/css" href="{% static 'rev-slider/css/settings.css' %}">
	<!-- REVOLUTION LAYERS STYLES -->
	<link rel="stylesheet" type="text/css" href="{% static 'rev-slider/css/layers.css' %}">
	<!-- REVOLUTION NAVIGATION STYLES -->
	<link rel="stylesheet" type="text/css" href="{% static 'rev-slider/css/navigation.css' %}">
	<!-- menu style -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/menu.css' %}">
	<!-- style -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
	<!-- responsive.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">

</head>
<!-- /end of head -->

<body>
	<!-- Start of Header 
	============================================= -->
	<header>
		<div class="menu-bar">
			<div class="container">
				<div class="row">
					<nav class="navbar">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<a class="navbar-brand" href="home-1.html"><img src="{% static 'assets/img/logo.png' %}" alt="image"></a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">Home</a></li>
								<li><a href="login">Login</a></li>
								<li><a href="h_reg">Hotel</a></li>
								<li><a href="d_reg">Donor</a></li>

									</ul>
						</div>
						<div class="home-donate donate-btn-1 text-uppercase">
							<a href="login">donate now</a>
						</div>
					</nav>
					<div class="wrap">
						<!--MENU-->
						<div id="main-menu">
							<div class="menu-btn">
								<div class="menu-btn-line menu-btn-line-1"></div>
								<div class="menu-btn-line menu-btn-line-2"></div>
								<div class="menu-btn-line menu-btn-line-3"></div>
							</div>
							<div class="moduletable_menu">

								<ul class="nav menu">
									<li><a href="home-1.html">Home</a></li>
									<li><a href="about-us.html">About</a></li>
									<li><a href="blog-archive.html">Blog</a></li>
									<li><a href="blog-single.html">Blog Single</a></li>
									<li><a href="cause.html">Cause</a></li>
									<li><a href="cause-single.html">Cause Details</a></li>
									<li><a href="event.html">Event</a></li>
									<li><a href="event-single.html">Event Single</a></li>
									<li><a href="404.html">404</a></li>
									<li><a href="contact.html">Contacts</a></li>
								</ul>
							</div>
						</div>
						<!-- END menu -->
					</div><!--/wrap  -->
				</div><!--/row  -->
			</div><!--/container  -->
		</div><!--/menu-bar  -->
	</header>
	<!-- End of Header 
	============================================= -->


	<!-- Start of page head section 
	============================================= -->
	<section id="page-head">
		<div class="page-head">
			<div class="container">
				<div class="row">
					<div class="page-head-content">
<!--						<div class="page-head-style">-->
<!--							<img src="assets/img/page-head-style.png" alt="image">-->
<!--						</div>-->
						<div class="page-head-title text-uppercase">
							<h2>Registration</h2>
						</div>
<!--						<div class="page-breadcrumb">-->
<!--							<ul class="breadcrumb">-->
<!--								<li class="breadcrumb-item"><a href="home-1.html"><span class="mr5 ti-home"></span>Home</a></li>-->
<!--								<li class="breadcrumb-item active">Contact</li>-->
<!--							</ul>-->
<!--						</div>-->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of  page head section  
	============================================= -->

	<!-- Start of contact page section 
	============================================= -->
	<section id="contact-us" class="contact-us-section">
		<div class="container">
			<div class="row section-content">
				<div class="contact-us-section-content">
					

					<!-- /contact-list -->

<!--					<div class="contact-map">-->
<!--						<div id="google-map">-->
<!--							<div id="googleMaps" class="google-map-container"></div>-->
<!--						</div>&lt;!&ndash; /#google-map&ndash;&gt;-->
<!--					</div>-->
					<!-- /contact-map -->

					<div class="contact-form">
						<div class="contact-form-title">
							<div class="section-title text-center">
								<div class="section-title-text text-uppercase">
									<p>Be brave</p>
								</div>
								<div class="section-title-text">
									<h2>Register NOW as VOLUNTEER !</h2>
								</div>
							</div>
						</div>
						<!-- / contact-form-title-->
						<div class="contact-comment-form pb50 clearfix">
							<div class="comment-form">
								<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="contact-comment-info">
										<input class="name" name="name" type="text" placeholder="Your Name..">
									</div>
									<div class="contact-comment-info">
										<input class="email" name="username" type="text" placeholder="Your Username">
									</div>
									<div class="contact-comment-info">
										<input class="email" name="email" type="email" placeholder="Your email..">
									</div>
									<div class="contact-comment-info">
										<div class="contact-comment-info">
											<input class="email" name="phone_no" type="number" placeholder="Phone Number...">
											{% comment %} pattern="[0-9]{10}" {% endcomment %}
										</div>
									</div>
									<div class="contact-comment-info">
										<div class="contact-comment-info">
											<input class="email" name="address" type="text" placeholder="Your Address...">
										</div>
									</div>
									<div class="contact-comment-info">
										<div class="contact-comment-info">
											<input class="email" name="password1" type="password" placeholder="Your password..">
										</div>
									</div>
									<div class="contact-comment-info">
										<div class="contact-comment-info">
											<input class="email" name="password2" type="password" placeholder="Repeat password..">
										</div>
									</div>

									<div class="send-button text-uppercase text-center">
										<button type="submit" value="Submit">Register</button>
									</div>								</form>
							</div>
						</div>
					</div>

					<div class="way-help-section-content">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="way-help-pic-text text-center colmd3">
									<div class="way-help-pic pb30">
										<span class="ti-map-alt"></span>
									</div>
									<!-- /img -->
									<div class="way-help-text">
										<div class="way-help-head pb20 text-uppercase">
											<h3 class="black">address</h3>
										</div>
										<div class="way-help-text-content">
											<p>315 Chat mohon Bazar <br>
												New Yor, NY 4536
											</p>
										</div>
									</div>
									<!-- /text -->
								</div>
							</div>
							<!-- /col-sm-3 -->

							<div class="col-md-3 col-sm-6">
								<div class="way-help-pic-text text-center colmd3">
									<div class="way-help-pic pb30">
										<span class="ti-headphone"></span>
									</div>
									<!-- /img -->
									<div class="way-help-text">
										<div class="way-help-head pb20 text-uppercase">
											<h3 class="black">PHONE NUMBER</h3>
										</div>
										<div class="way-help-text-content">
											<p>586 365 1278<br>586 365 1279</p>
										</div>
									</div>
									<!-- /text -->
								</div>
							</div>
							<!-- /col-sm-3 -->

							<div class="col-md-3 col-sm-6">
								<div class="way-help-pic-text text-center colmd3">
									<div class="way-help-pic pb30">
										<span class="ti-email"></span>
									</div>
									<!-- /img -->
									<div class="way-help-text">
										<div class="way-help-head pb20 text-uppercase">
											<h3 class="black">EMAIL ADDRESS</h3>
										</div>
										<div class="way-help-text-content">
											<p>Esupport@sitename.com <br>donate@sitename.com</p>
										</div>
									</div>
									<!-- /text -->
								</div>
							</div>
							<!-- /col-sm-3 -->

							<div class="col-md-3 col-sm-6">
								<div class="way-help-pic-text text-center colmd3">
									<div class="way-help-pic pb30">
										<span class="ti-home"></span>
									</div>
									<!-- /img -->
									<div class="way-help-text">
										<div class="way-help-head pb20 text-uppercase">
											<h3 class="black">OUR PROGRAMS</h3>
										</div>
										<div class="way-help-text-content">
											<p>www.sitename.com<br>www.yourdomain.com</p>
										</div>
									</div>
									<!-- /text -->
								</div>
							</div>
							<!-- /col-sm-3 -->
						</div>
					</div>
					<!-- / contact-form-->
				</div>
			</div>
		</div>
	</section>
	<!-- End of contact page section  
	============================================= -->



	<!-- Start of partner section
	============================================= -->
	<!-- End of partner section
	============================================= -->

	
	<!-- Start of footer section
	============================================= -->
	<footer id="footer-section" class="footer-style">
		<div class="footer-overlay">
			<div class="footer-contact-content-1">
				<div class="container">
					<div class="row">
						<div class="footer-contact-content">
							<div class="row">
								<div class="col-sm-2 col-xs-5">
									<div class="footer-contact-info">
										<ul class="footer-contact-info-list">
<!--											<li><span class="pull-left icon ti-comments-smiley"></span><span class="info-details text-uppercase">call us</span><p>560 265 1523</p></li>-->
										</ul>
									</div>
								</div>
								<div class="col-sm-3 col-xs-5">
									<div class="footer-contact-info">
										<ul class="footer-contact-info-list">
<!--											<li><span class="pull-left icon ti-comments"></span><span class="info-details text-uppercase">PLEASE</span><p>GET CALL BACK</p></li>-->
										</ul>
									</div>
								</div>
								<div class="footer-social pull-right mt10">
<!--									<div class="social">-->
<!--										<ul class="social-list">-->
<!--											<li><a href="#"><span class="ti-facebook"></span></a></li>-->
<!--											<li><a href="#"><span class="ti-twitter"></span></a></li>-->
<!--											<li><a href="#"><span class="ti-google"></span></a></li>-->
<!--											<li><a href="#"><span class="ti-instagram"></span></a></li>-->
<!--										</ul>-->
<!--									</div>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /footer-contact-1 -->

			<div class="footer-main-content">
				<div class="container">
					<div class="row">
						<div class="footer-main-content-area pt75">
							<div class="row">
								<div class="col-sm-3">
									<div class="footer-logo pb20">
										<a  href="home-1.html"><img src="{% static 'assets/img/f-logo.png' %}" alt="image"></a>
									</div>
									<div class="footer-text">
<!--										<p>Lorem ipsum dolor sit ametlyeolo consectetur adipisicing elit sed dong eiusmod tempor incididunt ut labore et incididunt.  </p>-->
									</div>
									<div class="footer-text">
<!--										<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>-->
									</div>
								</div>
								<!-- /col-sm-3 -->

								<!-- /col-sm-3 -->

								<!-- /col-sm-3 -->


								<!-- /col-sm-3 -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /footer-main-content -->
			<div class="footer-menu">
				<div class="container">
					<div class="row">
						<div class="footer-menu-content">
							<div class="copy-right pull-left">
								<p>© 2021 All right reserved. </p>
							</div>
<!--							<div class="footer-menu-list pull-right mt25">-->
<!--								<ul class="menu-list">-->
<!--									<li><a href="#">Home</a><span>/</span></li>-->
<!--									<li><a href="#">Event</a><span>/</span></li>-->
<!--									<li><a href="#">Cause</a><span>/</span></li>-->
<!--									<li><a href="#">FAQ</a><span>/</span></li>-->
<!--									<li><a href="#">Support</a><span></span></li>-->
<!--								</ul>-->
<!--							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End of footer section
	============================================= -->


	<!-- js -->
	<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/waypoints.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/wow.min.js' %}"></script>
	<script type="text/javascript">new WOW().init();</script>
	<script type="text/javascript" src="{% static 'assets/js/circle-progress.js' %}"></script>
		<!-- REVOLUTION JS FILES -->
	<script type="text/javascript" src="{% static 'rev-slider/js/jquery.themepunch.tools.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'rev-slider/js/jquery.themepunch.revolution.min.js' %}"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS (Load Extensions only on Local File Systems !
    The following part can be removed on Server for On Demand Loading) -->

    <script type="text/javascript" src="rev-slider/js/revolution.extension.actions.min.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'rev-slider/js/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/revolution.extension.parallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/revolution.extension.slideanims.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/revolution.extension.video.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/function.js' %}"></script>
	<!-- Google Maps Script  -->
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyC61_QVqt9LAhwFdlQmsNwi5aUJy9B2SyA"></script>
	<script src="{% static 'assets/js/gmap3.min.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function (){
        /*   - Google Map - with support of gmaps.js 
        --------------------------------------------------------------------*/ 

        function isMobile() { 
        	return ('ontouchstart' in document.documentElement);
        }

        function init_gmap() {
        	if ( typeof google == 'undefined' ) return;
        	var options = {
        		center: [23.7110734,90.4871938],
        		zoom: 10,
        		mapTypeControl: true,
        		mapTypeControlOptions: {
        			style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        		},
        		navigationControl: true,
        		scrollwheel: false,
        		streetViewControl: true,
        	}

        	if (isMobile()) {
        		options.draggable = false;
        	}

        	$('#googleMaps').gmap3({
        		map: {
        			options: options
        		},
        		marker: {
        			latLng: [23.7110734,90.4871938],
        			options: { icon: 'assets/img/map.png' }
        		}
        	});
        }
        init_gmap();
        /*   - Google Map - with support of gmaps.js End 
        --------------------------------------------------------------------*/

    });
</script>
</body> 
</html>