{% extends 'admin/admin_base.html' %}
{% block content %}
<!-- Start of contact page section
	============================================= -->
<!--	<section id="contact-us" class="contact-us-section">-->
<!--		<div class="container">-->
<!--			<div class="row section-content">-->
<!--				<div class="contact-us-section-content">-->


					<!-- /contact-list -->

<!--					<div class="contact-map">-->
<!--						<div id="google-map">-->
<!--							<div id="googleMaps" class="google-map-container"></div>-->
<!--						</div>&lt;!&ndash; /#google-map&ndash;&gt;-->
<!--					</div>-->
					<!-- /contact-map -->

						<!-- / contact-form-title-->
						<div class="contact-comment-form pb50 clearfix">
							<div class="comment-form">
						<div id="page-inner" >
							<h1>Hotels List</h1><br>
							<table class="table table-bordered table-striped table-hover">

								<th class="success">User Name</th>
								<th class="success">Email</th>
								<th class="success">Contact Number</th>
								<th class="success">Address</th>
								<th class="success">Date Of Join</th>
								<th class="success">Remove</th>
								{% for us in hotels %}

								<tr>
									<td>{{ us.user.first_name}}</td>
									<td>{{ us.user.email}}</td>
									<td>{{ us.phone_no}}</td>
									<td>{{ us.address}}</td>
									<td>{{ us.user.date_joined}}</td>
									<td><a href="reject?id={{ us.user_id}}" class=" btn btn-danger">Remove</a></td>
								</tr>
								{% endfor %}
							</table>
							</div>
						</div>
					</div>
							<!-- /col-sm-3 -->
<!--						</div>-->
<!--					</div>-->
<!--					&lt;!&ndash; / contact-form&ndash;&gt;-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
	<!-- End of contact page section
	============================================= -->
{% endblock %}