{% extends 'admin/admin_base.html' %}
{% block content %}
<div class="container">
  <div class="page-header text-center">
      <h1>Payment Gateway</h1>
  </div>
  <!-- Credit Card Payment Form - START -->
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <h3 class="text-center">Payment Details</h3>
                      {% comment %} <div class="inlineimage">  {% endcomment %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Mastercard-Curved.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Discover-Curved.png">
                  </div>
                  <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Paypal-Curved.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/American-Express-Curved.png"> 
                      {% comment %} </div>  {% endcomment %}
                  </div> 
                  <form role="form" action="paymentdone" method="POST">
                    {% csrf_token %}
                  <div class="panel-body">
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="form-group"> <label>CARD NUMBER</label>
                                      <div class="input-group"> <input type="tel" class="form-control" placeholder="Enter valid Card Number"  pattern="[0-9]{16}" title="Enter your 16 digit card number" required/> <span class="input-group-addon"><span class="fa fa-credit-card"></span></span> </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-7 col-md-7">
                                  <div class="form-group"> <label><span class="hidden-xs">CARD EXPIRY</span><span class="visible-xs-inline"></span></label> <input type="month" pattern="(0[1-9]|1[0-2])\/[0-9]{2}" class="form-control" placeholder="MM / YY" title="enter the month and year" required/> </div>
                              </div>
                              <div class="col-xs-5 col-md-5 pull-right">
                              {% comment %} </div>                    <br> {% endcomment %}
                              <div class="form-group">  <input type="hidden" name="id" value="{{pp}}" class="form-control" placeholder="CVC" /> </div>
                                  <div class="form-group"> <label>CV CODE</label> <input type="tel" class="form-control" placeholder="CVC" pattern="[0-9]{3}" title="enter the 3 digit cv code" required /> </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="form-group"> <label>CARD OWNER</label> <input type="text" name="cno" class="form-control" placeholder=" enter Card Owner Name" pattern="[A-Za-z]+" title="enter name without spaces" required/> </div>
                              </div>
                          </div>
                      
                  </div>
                  <div class="panel-footer">
                      <div class="row">
                          <div class="col-xs-12"><button class="btn btn-success btn-lg btn-block" type="submit">Confirm Payment</button></div>
                      </div>
                  </div>
              </div></form>
          </div>
      </div>
  </div>
</div>
{% endblock %}

